.one{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image:url('../../Pic/darkBlue1.jpg');
    position: relative;
    /* position: static; */
}

.boxPicText {
  position: absolute;
  display: flex;
  direction: rtl;
  /* width: 26vw; */
  /* margin-left: 37vw; */
  width: 400px;
  margin-left: 36vw;
  margin-top: 25vh;
  /* flex-direction: column; */
  /* background-color: aqua; */
}

@media screen and (max-width: 640px){
  .boxPicText{
    width: 300px;
    }
}

.picSara {
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    position: relative;
    margin-top: auto;
    /* align-self: flex-end; */
}


.textPageOne{
    width: 65%;
    max-height: 20px;
    background-color: rgba(220, 189, 90, 0.85);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    /* font-family: Vazir, sans-serif; */
    font-weight: 600;
    /* font-size: 1.1vw; */
    font-size: medium;
    direction: rtl;
    text-align: center;
    margin-top: auto;
    margin-right: 3px;
    padding: 10px 0px 10px 0px;
 }

 /* .textcirclePageOne1 {
    position: absolute;
    font: 1.2em sans-serif;
    font-weight: bold;
} */

.circlePageOne {
  border-radius: 50%;
  background-color: rgba(8,46,108,0.85);
  box-shadow: 2px 1px 1px 0 rgb(71, 69, 69), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 140px;
  height: 140px;
  max-width: 30vw;
  max-height: 30vh;
  cursor: pointer;
  margin-top: 55vh;
  /* margin-left: 30vw; */
  position: absolute;
}
.circlePageOne1 {margin-left: 25vw;}
.circlePageOne2 {margin-left: 35vw;}
.circlePageOne3 {margin-left: 45vw;}
.circlePageOne4 {margin-left: 55vw;}
.circlePageOne5 {margin-left: 65vw;}

.circlePageOne1 p ,
.circlePageOne2 p ,
.circlePageOne3 p ,
.circlePageOne4 p ,
.circlePageOne5 p 
{
  color: aliceblue; 
  text-align: center; 
  /* align-items: center;  */
  /* vertical-align:middle; */
  padding-top: 40px;
  /* font-family: Vazir, sans-serif; */
}

.circlePageOne1:hover{z-index: 1;}
.circlePageOne2:hover{z-index: 1;}
.circlePageOne3:hover{z-index: 1;}
.circlePageOne4:hover{z-index: 1;}
.circlePageOne5:hover{z-index: 1;}
.circlePageOne6:hover{z-index: 1;}

  
/* @media (max-device-width: 640px){
  .sara{
    background-color: aqua;
  }
} */

/* @media screen and (max-width: 640px){
} */