.one{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image:url('../../Pic/darkBlue5.jpg');
    position: relative;
}

.picSara {
    margin-left: 60vw;
    margin-top: 140px;
    width: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.textOne{
    font-size: x-large;
    font-weight: bold;
    margin-left: 46vw;
    margin-top: -30px;
   }

   .circelOne {
    display: flex;
    cursor: pointer;
    width: 40px;
    height: 20px;
    /* border-radius: 50%; */
    margin-left: 50vw;
    background-color: rgb(255, 0, 64);
    box-shadow: 2px 1px 1px 0 rgb(71, 69, 69), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }