.four{
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 0, 0);
    /* background-image:url('../../Pic/darkBlue5.jpg'); */
    /* background-image:url('../../Pic/darkBlue5.jpg'); */
}