.two{
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    background-image:url('../../Pic/darkBlue2.jpg');

    /* background-image:url('../../Pic/darkBlue1.jpg');
    transform:  translateX(180deg) translateY(0) rotate(180deg);
    transform: translateY(90deg); */

    background-color: #cccccc; 
    /* height: 892px;  */
    background-position: center; 
    /* background-position: right; */
    background-repeat: no-repeat; 
    background-size: cover; 
}

.boxPage2 {
    position: absolute;
    display: grid;
    align-content: center;
    justify-items: center;
    top:130%;
    left: 50%;
    transform: translate3d(-50%,-30%, 0);

    width: 60vw;

    /* width: 60vw;
    height: 80vh;
    top: 110vh;
    left: 20vw; */

    /* background-color: aqua; */
}

.smallBox1 {
    position: relative;
    display: grid;
    align-content: center;
    justify-items: center;
    width: 300px;
    height: 50px;
    background-color: rgba(8,46,108,0.85);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    color: #faf7f7;
}

.smallBox {
    position: relative;
    display: grid;
    align-content: center;
    justify-items: center;
    width: 200px;
    height: 50px;
    color: #faf7f7;
    background-color: rgba(8,46,108,0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    /* margin-top: 2%; */
    /* margin-bottom: 0.5%; */
    margin-top: 30px;
    margin-bottom: 5px;
    left: 50%;
    transform: translate3d(-50%,0, 0);
}

.box {
    position: relative;
    display: grid;
    align-content: center;
    justify-items: center;
    overflow: scroll;
    background-color: rgba(220, 189, 90, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    width: 100%;
    height: 200px;
    text-align: center;
    color: #020202;
    font: 1em sans-serif;
    margin-top: auto;
}



/* .smallBox1 p ,
.smallBox p {
    text-align: center;
    color: #faf7f7;
    margin-top: auto;
    padding-top: 12px;
} */

/* .box p {
    text-align: center;
    color: #020202;
    font: 1em sans-serif;
    margin-top: auto;
    padding: 1px 20px 1px 20px;
} */

#subject{
    font-weight: bold;
    padding-bottom: 10px;
    /* padding-top: 40px; */
}

#university{
    color: rgb(8,46,108);
    font: 0.95em sans-serif;
    font-weight: bold;
    padding-bottom: 15px;
}

#prise{
    font-style: italic;
    color: rgb(8,46,108);
}

#project{
    font-style: italic;
    padding: 0 50px;
    /* color: rgb(8,46,108); */
}

@media screen and (max-width: 720px){
    .boxPage2 {
        width: 80vw;
        transition: all 4s;
    }
  }
  @media screen and (min-width: 720px){
    .boxPage2{transition: all 4s;}
  }


/* @media screen and (max-width: 800px){
    .boxPage2 {
        width: 80vw;
        left: 10vw;
        transition: all 4s;
    }
  }
  @media screen and (min-width: 800px){
    .boxPage2{transition: all 4s;}
  }


  @media screen and (max-width: 600px){
    .boxPage2 {
        margin-top: 2vh;
        transition: all 4s;
    }
    .smallBox1 {
        width: 50%;
        left: 25%;
        margin-bottom: 5vh; 
        transition: all 4s;     
    }
    .smallBox {
        width: 30%;
        left: 70%;
        margin-top: 2vh;
        transition: all 4s;
    }
  }
  @media screen and (min-width: 600px){
    .boxPage2{transition: all 4s;}
    .smallBox1 {transition: all 4s;}
    .smallBox {transition: all 4s;}
  }

  @media screen and (max-width: 450px){
    .boxPage2 {
        margin-top: 6vh;
        transition: all 4s;
    }
  }
  @media screen and (min-width: 450px){
    .boxPage2{transition: all 4s;}
  } */