.six{
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    background-image:url('../../Pic/darkBlue2.jpg');
    background-color: #cccccc; 
    height: 892px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    /* position: relative; */
}

/* .boxAll{
  position: absolute;
} */

.smallBoxCallMe {
    position: absolute;
    /* position: relative; */
    width: 30vw;
    height: 5vh;
    margin-left: 35vw;
    background-color: rgba(8,46,108,0.85);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.smallBoxCallMe p {
    text-align: center;
    color: #faf7f7;
    font: 1.3em sans-serif;
    margin-top: auto;
    padding-top: 5px;
}

.topCallMe1 {margin-top: 10vh;}
.topCallMe2 {margin-top: 25vh;}

.message{
  position: absolute;
  /* position: relative; */
  width: 30vw;
  height: 5vh;
  margin-left: 35vw;
  z-index: 1;
}
.message p {
  text-align: center;
  color: rgba(8,46,108,0.85);
  font: 1em sans-serif;
  margin-top: auto;
  padding-top: 12px;
}

/* 
.boxCallMe {
    position: absolute;
    overflow: scroll;
    background-color: rgba(220, 189, 90, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    height: 70vh;
    width: 60vw;
    margin-left: 20vw;
} */

/* .boxCallMe p {
    text-align: right;
    color: #020202;
    font: 1em sans-serif;
    padding: 1px 30px 1px 30px;
} */

.tableP6 {
    position: absolute;
    /* position: relative; */
    /* border: 1px solid; */
    /* color: #08f437; */
    width: 60vw;
    margin-left: 20vw;
    margin-top: 25vh;
    /* background-color: rgba(255, 255, 255, 0.7); */
    background-color: rgba(220, 189, 90, 0.7);
    border-radius: 8px;
    padding: 40px 50px 40px 50px;
  }

  #NameP6 input , #EmailP6 input {
    width: 98%;
    direction: rtl;
    /* border-radius: 1px; */
    height: 20px;
    /* padding: 10px; */
  }

  #TitleP6 input {
    width: 99%;
    direction: rtl;
    height: 20px;
  }

  #TextP6 textarea {
    width: 99%;
    direction: rtl;
    /* height: 100px; */
    height: 30vh;
    overflow: scroll;
    resize: vertical;
    max-height: 40vh;
  }

  #SubmitP6 {
    /* background-color: aquamarine; */
    text-align: center;
    /* height: 40px; */
  }

  #SubmitP6 input{
    width: 22%;
    /* height: 40px; */
    background-color: rgba(220, 189, 90, 0.7);
    padding: 8px;
    font-weight: bold;
  }
  

  /* #NameP6  {background-color: aqua;}
  #EmailP6  { background-color: blue;}
  #TitleP6  { background-color: blueviolet;}
  #TextP6  { background-color: crimson;} */

/* 
 ضمن تشکر
  پیام شما ارسال شد در اسرع وقت پاسخ خواهم داد */

  
/* پیام شما ارسال شد */



  .contact-form {
    padding: 300px;
    direction: rtl;
    /* background-color: aqua; */
  }

  /* test: */
  .bbbbb{
    background-color: white;
    width: 200px;
    height: 200px;
  }

/* Mobile: */
  /* @media screen and (max-width: 600px){
    .smallBox1 {
        width: 50%;
        left: 25%;
        margin-bottom: 5vh; 
        transition: all 4s;     
    }
    .smallBox { 
        width: 30%;
        left: 70%;
        transition: all 4s;   
    }
  }
  @media screen and (min-width: 600px){
    .smallBox1{transition: all 4s;}
    .smallBox{transition: all 4s;}
  } */
