.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.mainImg {
    /* background-image:url('Pic/sky.png'); */
    /* background-image:url('Pic/darkBlue5.jpg'); */
    width: 100vw;
    height: 100vh;
    position: fixed;

    /* The image used */
    /* background-image: url('Pic/darkBlue1.jpg'); */

    /* Used if the image is unavailable */
    /* background-color: #cccccc;  */

    /* You must set a specified height */
    /* height: 500px;  */

    /* Center the image */
    /* background-position: center;  */

    /* Do not repeat the image */
    /* background-repeat: no-repeat;  */

    /* Resize the background image to cover the entire container */
    /* background-size: cover;  */
}

/* .scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
} */

.scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
}

/* .scroller section {
  scroll-snap-align: start;
} */

.section {
  scroll-snap-align: start;
}

.circle {
  display: flex;
  width: 20px;
  height: 20px;
  /* background-color: #86cadd; */
  /* box-shadow: 2px 1px 1px 0 rgb(71, 69, 69), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 50%;
  /* margin-top:20vw; */
  /* margin-left: 95vw; */
  background-color: gold;
  box-shadow: 2px 1px 1px 0 rgb(71, 69, 69), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  position: fixed;
  z-index: 1;
  right: 30px;
}

.dot1 {
  /* margin-top:40vh; */
  top: 40%;
}
.dot2 {
  /* margin-top:45vh; */
  top: 45%;
}
.dot3 {
  /* margin-top:50vh; */
  top: 50%;
}
.dot4 {
  /* margin-top:55vh; */
  top: 55%;
}
.dot5 {
  /* margin-top:60vh; */
  top: 60%;
}
.dot6 {
  /* margin-top:65vh; */
  top: 65%;
}


.circle:hover:after {
  /* content: "صفحه اصلی"; */
  display: inline-block;
  /* z-index: 1; */
  /* background-color: rgba(255,215,0,0.5); */
  background-color: #cccccc;
  box-shadow: 2px 1px 1px 0 rgb(150, 147, 147), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* width: 8vw;
  height: 2.2vh;
  margin-left: -8vw; */
  width: 100px;
  height: 20px;
  margin-left: -100px;

  border-radius: 5px;
  text-align: center;
  font: 0.8em sans-serif;
  align-content: center;
  justify-items: center;
}

/* .dot1:hover:after {content: "صفحه اصلی";}
.dot2:hover:after {content: 'سوابق تحصیلی';}
.dot3:hover:after {content: 'مقالات';}
.dot4:hover:after {content: 'مهارت ها';}
.dot5:hover:after {content: 'تجارب';}
.dot6:hover:after {content: 'راه ارتباطی';} */

.fa > .dot1:hover:after {content: "صفحه اصلی";}
.fa > .dot2:hover:after {content: 'سوابق تحصیلی';}
.fa > .dot3:hover:after {content: 'مقالات';}
.fa > .dot4:hover:after {content: 'مهارت ها';}
.fa > .dot5:hover:after {content: 'تجارب';}
.fa > .dot6:hover:after {content: 'راه ارتباطی';} 

.en > .dot1:hover:after {content: "MAIN";}
.en > .dot2:hover:after {content: 'EDUCATION';}
.en > .dot3:hover:after {content: 'PUBLICATION';}
.en > .dot4:hover:after {content: 'SKILLS';}
.en > .dot5:hover:after {content: 'EXPERIENCE';}
.en > .dot6:hover:after {content: 'CONTACT';} 

/* *:lang(en) {background-color: aqua;} */


/* .dot1:active {background-color: aqua;} */
/* .dot2:active {background-color: aqua;} */


/* For mobile: */
@media screen and (max-width: 600px){
  .circle:hover:after {
    /* width: 15vw; */
    /* margin-left: -15vw; */
    transition: all 1s;
  }
}
@media screen and (min-width: 600px){
  .circle:hover:after{transition: all 1s;}
}
