.five{
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    background-image:url('../../Pic/darkBlue1.jpg');
    background-color: #cccccc; 
    /* height: 892px;  */
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.boxPage5 {
    position: absolute;
    display: grid;
    align-content: center;
    justify-items: center;
    top: 400%;
    left: 50%;
    transform: translate3d(-50%, 70px , 0);
    width: 60vw;
    /* background-color: aqua; */
}

.smallBoxExp {
    position: relative;
    display: grid;
    align-content: center;
    justify-items: center;
    width: 400px;
    height: 50px;
    background-color: rgba(8,46,108,0.85);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    color: #faf7f7;
}

/* 
.topExp1 {margin-top: 10vh;}
.topExp2 {margin-top: 18vh;} */

.boxExp {
    
    /* height: 70vh;
    width: 60vw;
    margin-left: 20vw; */

    position: relative;
    display: grid;
    align-content: center;
    justify-items: center;
    overflow: scroll;
    background-color: rgba(220, 189, 90, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    width: 85%;
    height: 85%;
    /* text-align: center; */
    
    margin-top: 30px;

    /* align-content:first baseline;
    justify-items: right; */

    /* align-content: end;
    justify-items: right; */
    padding: 50px;

}

.boxPicText5{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;

    align-content:last baseline;
    justify-items: right;
    /* align-content: end; */
    /* justify-items: right; */
    /* background-color: blue; */
}

.picIconBluePencil {
    /* position: absolute; */
    z-index: 1;
    background-color: #faf7f7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    /* margin-top: 5vh; */
    /* margin-left: 50vw; */
}

/* #TitelBP {
    font-weight: bold;
    padding-top: 9vh;
    padding-right: 12vw;
} */

/* #TextBP1 {
    font-weight: bold;
    padding-top: 4vh;
    padding-right: 6vw;
    color: rgb(8,46,108);
} */

/* #TextBP2 {
    font-weight: bold;
    padding-right: 6vw;
    color: rgb(8,46,108);
    font-style: italic;
} */

/* #TextBP3 {
    padding-right: 6vw;
    padding-left: 6vw;
} */

/* #TextBP03{ padding-right: 6vw; padding-left: 6vw;} */

/* #TextBP4, #TextBP5, #TextBP6  {
    padding-right: 6vw;
    padding-left: 6vw;
    font-style: italic;
    list-style-type: square;
} */

#LinkDownload {
    /* padding-right: 6vw;
    padding-left: 6vw; */
    font-style: normal;
    background-color: #faf7f7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    /* margin-left: 6vw; */
    /* margin-right: 42vw; */
    padding: 8px;
    /* text-align: center; */
}

#LinkDownload a {
    text-decoration: none;
    color: rgb(8,46,108);
    /* padding: 8px; */
}

/* For mobile: */
@media screen and (max-width: 600px){
    .boxExp{
        /* height: 70vh;
        width: 60vw;
        margin-left: 20vw; */
        width: 80vw;
        margin-left: 10vw;
        transition: all 4s;
    }
    #TitelBP {
        /* font-weight: bold; */
        /* padding-top: 9vh; */
        /* padding-right: 12vw; */
        padding-right: 22vh;
        transition: all 4s;
    }
  }
  @media screen and (min-width: 600px){
    .boxExp {transition: all 4s;}
    #TitelBP {transition: all 4s;}
  }

  /* For mobile: */
@media screen and (max-width: 450px){
    #TitelBP {
        padding-right: 17vh;
        transition: all 4s;
    }
  }
  @media screen and (min-width: 450px){
    .boxExp {transition: all 4s;}
    #TitelBP {transition: all 4s;}
  }