.three{
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    background-image:url('../../Pic/darkBlue1.jpg');
}

.smallBoxPaper {
    position: absolute;
    width: 30vw;
    height: 5vh;
    margin-left: 35vw;
    background-color: rgba(8,46,108,0.85);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.boxPaper {
    position: absolute;
    overflow: scroll;
    background-color: rgba(220, 189, 90, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* width: 50vw; */
    width: 70vw;
    height: 70vh;
    margin-left: 15vw;
    border-radius: 8px;
    padding: 20px 0 20px 0;
}

.topPaper1 {margin-top: 10vh;}
.topPaper2 {margin-top: 18vh;}

.smallBoxPaper p {
    text-align: center;
    color: #faf7f7;
    font: 1.3em sans-serif;
    margin-top: auto;
    padding-top: 5px;
}


.boxPaper p {
    text-align: center;
    color: #020202;
    font: 1em sans-serif;
    margin-top: auto;
    padding: 1px 30px 1px 30px;
}

hr {
    width: 80%;
}

#title {
    padding-top: 15px;
    font-weight: bold;
}

#name {
    font: 1em sans-serif;
    /* color: rgb(8,46,108); */
}

#nameConf{
    font-style: italic;
    color: rgb(8,46,108);
}

#date {
    font-style: italic;
}

#link{
    text-align: center;
}
